
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                Base page
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaquery.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    </head>

    <body id="bodyclr">  
        {% if current_user.is_authenticated %}
            <nav class="container-fluid navbar-expand-md" style="margin-top: 10px;">
                <div class="container-fluid border border-bottom">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background: #5959a3;">
                        <span class="navbar-toggler-icon rounded"></span>
                    </button>
            
                    <a class="navbar-brand d-lg-none d-sm-none" href="">Shop</a>
            
                    <div class="collapse navbar-collapse text-black font-monospace" id="navbarNav">

                        <div class="container col-1">
                            <ul class="navbar-nav"  id="menu">
                                <li class="nav-item dropdown ">
                                    <a class="nav-link dropdown-toggle mb-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-list" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                                        </svg>
                                    </a>
                                    <ul class="dropdown-menu border text-white p-1" aria-labelledby="navbarDropdown" style="background: #6969a0" id="one">
                                        <!-- <li><a class="dropdown-item" href="#">Home</a></li> -->
                                        <li><a class="dropdown-item" href="{{url_for('cart_page')}}">Cart</a></li>
                                        <li><a class="dropdown-item" href="{{url_for('my_orders')}}">Orders</a></li>
                                        <li><a class="dropdown-item" href="#">Profile</a></li>
                                            <hr>
                                        <li><a class="dropdown-item" href="{{url_for('logout_page')}}" id="tt">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>                                        
                        </div>

                        <div class="container col-4">
                            <ul class="navbar-nav p-1">
                                <a class="navbar-brand text-white" href="">School Uniforms</a>                                                     
                            </ul>
                        </div>

                        <div class="container col-6" style="display: inline-block;">
                            <ul class="navbar-nav p-1">
                                <a class="navbar-brand text-white pe-3" href="{{url_for('views.boys_page')}}" id="light1" style="border-right: 1px solid white;">Boys</a> 
                                <div class="bg-white me-3"></div>
                                
                                <a class="navbar-brand text-white" href="{{url_for('girls_page')}}" id="light2">Girls</a>  
                            </ul>                 
                        </div>

                      
                        <div class="container col-1 btn-group">                                                        
                            <ul class="navbar-nav p-1" id="smallnav">
                                <li class="nav-item ms-auto">
                                    <a class="disabled nav-link text-white text-lg-end"  >
                                        {{ current_user.username.upper() }} 
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                       
                    </div>           
                </div>

            </nav>
            
            <div class="container" style="background: #5959a3; text-align:center ">
                <ul class="navbar-nav col-6 text-white p-2" style="display: inline-block;" id="tagspc">
                    <a class="navbar-brand" href="{{url_for('cart_page')}}">Cart</a>
                    <a class="navbar-brand" href="{{url_for('my_orders')}}">Orders</a>
                    <a class="navbar-brand" href="#">Profile</a>
                </ul>
            </div>
            
        {% else %}
            <nav class="navbar navbar-expand-md">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background: #5959a3;">
                        <span class="navbar-toggler-icon rounded"></span>
                    </button>
            
                    <a class="navbar-brand d-lg-none d-sm-none border " href="{{url_for('home_page')}}">School Uniforms</a>
            
                    <div class="collapse navbar-collapse text-black font-monospace" id="navbarNav">
                        <div class="container-fluid border">
                            <ul class="navbar-nav p-1">
                                <a class="navbar-brand text-white" href="{{url_for('home_page')}}">School Uniforms</a>
                            </ul>
                        </div>
                    </div>           
                </div>
            </nav>
        {% endif %}

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}} mx-3">
                        <button type="button" class="m1-2  close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                        
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <main class="font-monospace">
            {% block content %}
            {% endblock %}

            <!-- <div class="position-fixed" style="transform: translate(750%, 23vh);">
                <p>
                <strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-mailbox" viewBox="0 0 16 16">
                        <path d="M4 4a3 3 0 0 0-3 3v6h6V7a3 3 0 0 0-3-3m0-1h8a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4m2.646 1A4 4 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3z"/>
                        <path d="M11.793 8.5H9v-1h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.354-.146zM5 7c0 .552-.448 0-1 0s-1 .552-1 0a1 1 0 0 1 2 0"/>
                    </svg>
                    fancyshot9819
                </strong>
                </p>
            </div> -->
        </main>
        <!-- <footer class="container-fluid my-5 py-3 position-fixed text-white" style="text-align:center;background: #5959a3; ">
            <p>creator. finicky9819</p>
        </footer> -->

        <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
        <script src="{{ url_for('static', filename='javascript/message.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='javascript/sidebtn.js') }}"></script>
    </body>
</html>